.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.about-container img {
  border-radius: 50%;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;;
  box-shadow: 10px 10px 5px #888;
}

.about-container__text {
  max-width: 600px;
  margin-right: 2rem;
}

/* ----------- MEDIA QUERY --------------- */

@media only screen and (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }
  .about-container__text {
    max-width: 600px;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .about-container__text {
    max-width: 600px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .about-container img {
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 10px 10px 5px #888;
    font-size: 10px;
  }
}
