.footer__container {
  background-color: var(--nav-color);
  color: aliceblue;
  padding: 1rem; 
}

.footer__container--links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 6rem;
}

.footer__container--links img {
  margin: 0 2rem 1rem;
}

.footer__data__links {
  display: flex;
  justify-content: space-evenly;
}

.footer__data__links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__data__links a:hover {
  color: var(--light-color);
}

@media only screen and (max-width: 600px) {
  .footer_container {
    font-size: 0.7rem;
  }
  .footer__data__links {
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__container--links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0rem;
  }

  .footer__container--links img {
    height: 40px;
    width: 40px;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }

  .mail-box img {
    width: 45px;
  }

  .footer__data__links {
    justify-content: space-evenly;
    text-align: center;
  }

  .footer__data__info {
    margin-bottom: 1rem;
  }

  .addPadding {
    display: flex;
    font-size: 0.9rem;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .footer_container {
    font-size: 0.8rem;
  }

  .footer__container--links img {
    height: 25px;
    width: 25px;
  }

  .mail-box img {
    width: 35px;
  }

  .addPadding {
    font-size: 0.6rem;
  }
}
