@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.App {
  font-family: "Ubuntu", sans-serif;
}

:root {
  --nav-color: hsl(210, 11%, 15%);
  --nav-color-hover: hsl(210, 1%, 38%);
  --nav-border-color: hsl(209, 11%, 45%);
  --light-color: hsl(84, 100%, 99%);
  --header-font-color: hsl(60, 8%, 95%);
  --font-color: hsl(0, 12%, 97%);
  --font-color-hover: hsl(0, 2%, 65%);
}

.backgroundImg {
  background-image: url("./images/background.jpg");
  background-color: lightgray;
  background-blend-mode: lighten;
  margin-top:-6px;
  padding-bottom:5rem;
}


