.about__main__container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 24rem;
}

.about__main__container h1 {
  font-weight:bold;
  text-align: center;
  margin: 1rem auto 3rem;
}

hr{
  margin-bottom: 4rem;
}

.about__main__container-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__main__container img {
  border-radius: 50%;
  margin-right: 10rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 300px;
  height: 300px;
}

.about__main__container-text {
  max-width: 700px;
  min-width: 500px;
  text-align: justify;
  text-justify: inter-word;
}

.about__main__container-text p {
 font-size: 25px;
}

.demo a {
  position: absolute;
  margin-top: -10%;
  margin-left: 47%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .1s;
}

.demo a:hover {
  opacity: .6;
}

#section06 a {
  padding-top: 60px;
}

#section06 a span {
  position: absolute;
  top: 0;
  left: 35%;
  width: 30px;
  height: 30px;
  border-left: 6px solid black;
  border-bottom: 6px solid black;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  -webkit-animation: sdb06 3s infinite;
  animation: sdb06 6s infinite; 
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* ----------- MEDIA QUERY --------------- */

@media only screen and (max-width: 1100px) {
  .about__main__container-body {
    flex-direction: column;
    align-items: center;
  }

  .about__main__container h1 {
    font-size: 30px;
    margin-bottom: 4rem;
  }

  .about__main__container img {
    width: 180px;
    height: 180px;
    margin-right: 2rem;
  }

  .demo a {   
    margin-top: -10%;
    margin-left: 45%;
  }
}
.about__main__container-text {
  min-width:300px;
}

.about__main__container-text p {
  font-size: 23px;
 }

 @media only screen and (max-width: 900px) {
  .demo a {   
    margin-top: -35%;
    margin-left: 44%;
  }
}

@media only screen and (max-width: 600px) {
  .about__main__container h1 {
    font-size: 26px;
    margin-bottom: 2rem;
  }

  .about__main__ontainer img {
    width: 150px;
    height: 150px;
  }

  .about__main__container-text {
    max-width: 300px;
    margin: 0 1rem;
  }

  .about__main__container-text p {
    font-size: 20px;
   }

   .demo a {  
    font-size: 1.3rem; 
    margin-top: -60%;
    margin-left: 42%;
  }

  #section06 a span {    
    left: 40%;
    width: 20px;
    height: 20px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;   
  }
   
}
