.portfolio__main__container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

.portfolio__main__container h1 {
  font-weight:bold;
  text-align: center;
  margin: 5rem auto 2rem;
}

.portfolio__main__container p {
  text-align:center;
  font-size: 24px;
  font-weight: bold;
}

#portfolio__card__container {
  width: 45%;
  min-width: 200px;
  padding: 5px;
  border: 1px solid gray;
}

.portfolio__image:hover {
  cursor: pointer;
  filter: brightness(60%);
}

.portfolio__click__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  display: none;
}

.portfolio__image:hover + .portfolio__click__info {
  display: block;
}

.modal-image{
  border: 1px solid gray;
}

.modal-footer-title{
  display:block;
}

.modal-backdrop.show {
  opacity: 0.4 !important;
}

#portfolio__modal__link {
  padding-left: 1rem;
}

#portfolio__modal__link:link {
  text-decoration: none;
}

.row{
  justify-content: center;
}


.demo__portfolio a {
  position: absolute;
  margin-top: 4%;
  margin-left: -2.6%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .1s;
}

.demo__portfolio a:hover {
  opacity: .6;
}

#scroll__portfolio a {
  padding-top: 60px;
}

#scroll__portfolio a span {
  position: absolute;
  top: 0;
  left: 35%;
  width: 30px;
  height: 30px;
  border-left: 6px solid black;
  border-bottom: 6px solid black;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  -webkit-animation: sdb06 3s infinite;
  animation: sdb06 6s infinite; 
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


@media only screen and (max-width: 1500px) {

  .demo__portfolio a {
    margin-top: 5%;
    margin-left: -3.5%;
  } 
}

@media only screen and (max-width: 1100px) {
  
  .demo__portfolio a {
    margin-top: 5%;
    margin-left: -5%;
  }  
}

@media only screen and (max-width: 900px) {
  
  .portfolio__main__container p {
   font-size:smaller;
  }

  #portfolio__card__container {
    width: 95%;
    padding: 0.5rem 1rem;
  }

  .demo__portfolio a {
    margin-top: 2%;
    margin-left: -6%;
  }  
}

@media only screen and (max-width: 800px) {
  
  .demo__portfolio a {
    margin-top: 2%;
    margin-left: -5%;
    font-size: 1.5rem;
  }  

  #scroll__portfolio a span {
    width: 25px;
    height: 25px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;   
  }
}

@media only screen and (max-width: 600px) { 
  .demo__portfolio a {
    margin-left: -6.5%;
  }  

}
  





